iframe {
    border: none;
}

a {
    color: rgb(81, 121, 187);
}

a:hover, a:focus {
    color: rgb(22, 69, 144);
}

a:focus {
    outline-style: dotted;
    outline-width: thin;
}

h1, h2, h3, h4, h5, h6, dl, dt {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 300;
}

div, dd, ul, ol, li, pre, form, blockquote, th, td, p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.15rem;
}

.fingerprint {
    font-family: 'monospace';
    font-weight: bold;
    color: #333;
    font-size: 1rem;
}

.fingerprint .space {
    padding-left: .5em;
}

.button-more {
    background: #6495ed
}

.button-more:hover {
    background: #003180;
}

.timeline-item, .profile-icon-bar {
    background: rgb(251, 251, 251);
}

.timeline-item {
    padding: .7rem;
    margin-bottom: 1rem;
    border-left: 10px solid #6495ed;
    transition: border-left 0.5s ease-in-out;
}

.timeline-item:hover {
    border-left: 10px solid #003180;
    transition: border-left 0.5s ease-in-out;
}

.timeline-item-date {
    font-size: 14px;
    font-weight: 200;
}

.timeline-item-date span {
    color: #850000;
}

.timeline-timeframe {
    margin-bottom: 0;
}

.orbit-caption a, .orbit-caption a:focus {
    font-size: 1.5rem;
    color: white;
}

.orbit-caption:active {
    text-decoration: underline;
}

.blockquote-on-bottom {
    margin-bottom: 0;
    padding-bottom: .5rem;
}

.title-bar, .top-bar, .top-bar ul {
    background: rgb(50, 75, 116);
}

.top-bar ul a:link, .top-bar ul a:visited {
    color: #eee;
}

.top-bar ul a:active, .top-bar ul a:hover {
    color: #fff;
}

.button-resume {
    background-color: #24995E;
    color: #eee;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.button-resume:hover, .button-resume:focus {
    background-color: #22bb5b;
    color: #fff;
}

@media screen and (min-width: 64em) {
    .button-resume {
        border-radius: 30rem;
        margin-left: 1rem;
        -webkit-appearance: none;
    }
}

.menu-social {
    margin-bottom: 1rem;
}

.menu-social li a, .menu-social li a:hover {
    margin-left: .5rem;
}

.menu-social li a:first-child {
    margin-left: 0;
}

.nav-card {
    padding-top: 0;
}

.main {
    padding: 0 !important;
}

.nav-card-photo {
     margin-top: 1rem;
}

.nav-card-photo img {
    width: 160px;
    border-radius: 50%;
}

.asciicast-carrier .asciicast {
    margin: 0 !important;
    overflow: hidden;
}

.menu li.active a {
    background: rgb(23, 53, 91);
}