iframe {
    border: none;
}

a {
    color: #08419D;
}

a:hover, a:focus {
    color: #19458D;
}

a:focus {
    outline-style: dotted;
    outline-width: thin;
}

h1, h2, h3, h4, h5, h6, dl, dt {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 300;
}

div, dd, ul, ol, li, pre, form, blockquote, th, td, p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.15rem;
}

.button-more {
    background: #6495ed
}

.button-more:hover {
    background: #003180;
}

/* orbit */
.orbit-bullets {
    margin: 0;
}

.orbit-bullets button {
    width: .5rem;
    height: .5rem;
}

.orbit-caption a, .orbit-caption a:focus {
    font-size: 1.5rem;
    color: white;
}

.orbit-caption:active {
    text-decoration: underline;
}

.blockquote-on-bottom {
    margin-bottom: 0;
    padding-bottom: .5rem;
}

.title-bar, .top-bar, .top-bar ul, .submenu {
    background: rgb(50, 75, 116);
}

.button-resume {
    background-color: #24995E;
    color: #eee;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.button-resume:hover, .button-resume:focus {
    background-color: #22bb5b;
    color: #fff;
}

@media screen and (min-width: 64em) {
    .button-resume {
        border-radius: 30rem;
        margin-left: 1rem;
        -webkit-appearance: none;
    }
}

.asciicast-carrier .asciicast {
    margin: 0 !important;
    overflow: hidden;
}

pre, samp, code, kbd {
    font-family: 'Roboto Mono', 'monospace';
}

/* fingerprint */
.fingerprint {
    font-family: 'Roboto Mono', 'monospace';
    font-weight: bold;
    color: #333;
    font-size: 1rem;
}

.fingerprint .space {
    padding-left: .5rem;
}

@media screen and (max-width: 39.99875em) {
    .fingerprint {
        font-size: .8rem;
    }
}

/* navigation card */
.nav-card-photo-cell {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.nav-card-photo {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.nav-card-photo img {
    width: 160px;
    border-radius: 50%;
}

.card-section h4 {
    margin: auto;
}

.nav-card {
    background: #fbfbfb;
}

@media screen and (max-width: 39.99875em) {
    .nav-about-me {
        margin-bottom: .2rem;
    }

    .nav-about-me li {
        font-size: 80% !important;
    }

    .nav-card {
        border: 1px solid #e6e6e6;
        margin-top: .7rem;
        padding-left: .7rem;
        padding-right: .7rem;
    }
}

@media screen and (min-width: 40em) {
    .nav-card {
        border: 1px solid #e6e6e6;
        border-top: none;
        margin-top: 0;
    }
}

/* menu-social */
.menu-social {
    margin-bottom: .7rem;
}

.menu-social a, .menu-social a:hover {
    margin-left: .5rem;
}

.menu-social a:first-child {
    margin-left: 0;
}

/* navigation bar on top */
.top-bar ul a:link, .top-bar ul a:visited {
    /* !important is used to force color even when on the submenu */
    color: #eee !important;
}

.top-bar ul a:active, .top-bar ul a:hover {
    /* !important is used to force color even when on the submenu */
    color: #fff !important;
}

.top-bar .menu li.active a {
    /* !important is used to force background even when on the submenu */
    background: rgb(23, 53, 91) !important;
}

.top-bar .submenu {
    border: none;
    padding-top: 0;
}

.top-bar .submenu li {
    font-size: 80% !important;
}

/* timeline items */
ul.timeline-timeframe > li {
    background: rgb(251, 251, 251);
    padding: .7rem;
    margin-bottom: 1rem;
    border-left: 10px solid #6495ed;
    transition: border-left 0.5s ease-in-out;
}

ul.timeline-timeframe > li:hover {
    border-left: 10px solid #003180;
    transition: border-left 0.5s ease-in-out;
}

ul.timeline-timeframe > li time {
    font-size: 14px;
    font-weight: 200;
}

ul.timeline-timeframe > li > time span {
    color: #850000;
}

/* dropdown menu */
.dropdown.menu > li.is-dropdown-submenu-parent > a {
    padding-right: 1rem !important;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    border: none !important;
}