<nav class="title-bar show-for-small-only" data-responsive-toggle="responsive-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
    <div class="title-bar-title invisible">Menu</div>
</nav>
<nav class="top-bar" id="responsive-menu">
    <div class="top-bar-right no-js">
        <ul class="dropdown menu vertical medium-horizontal large-horizontal" data-active-class="active" data-hover-delay="150" data-closing-time="80" data-alignment="left"
            data-dropdown-menu data-smooth-scroll>
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            {{ $active := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
            {{ $active = or $active (eq .URL $currentPage.RelPermalink) }}
            {{ if eq .Menu "main" }}
            <li class="{{ if .HasChildren}}show-for-small-only{{end}} {{ if $active }} active{{ end }}">
                <a href="{{ .URL }}" {{ if $active }}aria-current="page" {{ end }}>
                    {{ .Name }}
                </a>
            </li>
            {{ end }}
            {{ if .HasChildren }}
            <li class="hide-for-small-only is-dropdown-submenu-parent {{ if $active }} active{{ end }}">
                <a href="{{ .URL }}" {{ if $active }}aria-current="page" {{ end }}>
                    {{ .Name }}
                </a>
            <ul class="vertical menu nested submenu">
                {{ range .Children }}
                {{ $active = eq .URL $currentPage.RelPermalink }}
                <li {{ if $active }}class="active" {{ end }}>
                    <a href="{{ .URL }}" title="{{ .Name }}">
                        {{ .Name }}
                    </a>
                </li>
                {{ end }}
            </ul>
            {{ end }}
            </li>
            {{ end }}
            <li><a href="/resume.pdf" class="button-resume">Résumé</a></li>
        </ul>
    </div>
</nav>
