<div itemscope itemtype="http://schema.org/Person">
    <div class="nav-card grid-x">
        <div class="cell small-2 medium-12 nav-card-photo-cell">
            <a href="/" itemprop="photo" class="nav-card-photo">
                <img src="/img/me_at_gullfoss_cropped.jpg" alt="me at Gullfoss" width="549" height="549" />
            </a>
        </div>
        <div class="cell card-section small-10 medium-12 medium-text-center">
            <h4 itemprop="name">Henrique Vicente</h4>
            <p>
                <span itemprop="title">Software Engineer</span>
            </p>
        </div>
    </div>
    <ul class="nav-about-me no-bullet">
        {{ if .Params.Polemic }}
        <li><p>Opinions expressed are solely my own and do not express the views or opinions of my employer.</p></li>
        {{ else }}
        <li>
            <p>I'm a Software Engineer / Gopher from Brazil. I live in The&nbsp;Hague,&nbsp;Netherlands, and I work for the London-based Cloud-native Payment Processing Platform <a href="https://form3.tech/" itemprop="affiliation">Form3</a>.<br /><br />
                I enjoy photography, drones, and traveling.</p>
        </li>
        {{ end }}
        <li>
            <a href="https://keybase.io/henvic" class="fingerprint" title="Keybase profile">D0F4<span
                    class="space"></span>DFBD<span class="space"></span>257C<span class="space"></span>1575</a>
        </li>
    </ul>
    <div class="menu-social">
        <a class="webicon github" href="https://github.com/henvic">
            GitHub
        </a>
        <a class="webicon twitter" href="https://twitter.com/henriquev">
            Twitter
        </a>
        <a class="webicon linkedin" href="https://www.linkedin.com/in/henvic">
            Linkedin
        </a>
        <a class="webicon instagram" href="https://www.instagram.com/henvic/">
            Instagram
        </a>
        <a class="webicon flickr" href="https://www.flickr.com/photos/henriquev/">
            Flickr
        </a>
        <a class="webicon mail" href="mailto:henriquevicente@gmail.com" itemprop="email">
            henriquevicente@gmail.com
        </a>
    </div>
    {{ if .Params.Polemic }}
    <h4>Highlighted posts</h4>
    <ul>
        <li><a href="/posts/go-postgres/">Back to basics: Writing an application using Go and PostgreSQL</a></li>
        <li><a href="/posts/uuid">You don't need UUID</a></li>
        <li><a href="/posts/bitcoin">Cryptocurrency Tulipmania: Bitcoin is a shitcoin</a></li>
        <li><a href="/posts/go">The ecosystem of the Go programming language</a></li>
        <li><a href="/posts/my-go-mistakes/">My Go mistakes</a></li>
        <li><a href="/posts/env/">Environment variables, config, secrets, and globals</a></li>
        <li><a href="/posts/signal-notify-context/">signal.NotifyContext: handling cancelation with Unix signals using
                context</a></li>
        <li><a href="/posts/homelab/">Homelab: Intel NUC with the ESXi hypervisor</a></li>
    </ul>
    {{ end }}
</div>
