<div itemscope itemtype="http://schema.org/Person">
    <div class="nav-card card">
        <a href="https://www.instagram.com/p/BQ-lcVEF88y/" itemprop="photo" class="float-center nav-card-photo">
            <!-- <img src="img/me_at_gullfoss.jpg" width="1800" height="1800" alt="me at Gullfoss" /> -->
            <img src="img/me_at_gullfoss_cropped.jpg" alt="me at Gullfoss" width="549" height="549" />
        </a>
        <div class="card-section text-center">
            <h4 itemprop="name">Henrique Vicente</h4>
            <p>
                <span itemprop="title">Software Engineer</span>
            </p>
        </div>
    </div>
    <ul class="no-bullet">
        <li>
            I write Go daily at <a href="https://www.liferay.com/" itemprop="affiliation">Liferay</a>&nbsp;<i
                class="fi-cloud"></i>.<br />
                I enjoy photography, drones, and traveling.
        </li>
        <li>
            <a href="https://keybase.io/henvic" class="fingerprint" title="Keybase profile">D0F4<span
                    class="space"></span>DFBD<span class="space"></span>257C<span class="space"></span>1575</a>
        </li>
        <li>
            <a href="mailto:henriquevicente@gmail.com">
                <small itemprop="email">henriquevicente@gmail.com</small>
            </a>
        </li>
    </ul>
    <ul class="menu-social no-bullet">
        <li>
            <a class="webicon github" href="https://github.com/henvic">
                GitHub
            </a>
            <a class="webicon linkedin" href="https://www.linkedin.com/in/henvic">
                Linkedin
            </a>
            <a class="webicon instagram" href="https://www.instagram.com/henvic/">
                Instagram
            </a>
            <a class="webicon flickr" href="https://www.flickr.com/photos/henriquev/">
                Flickr
            </a>
        </li>
    </ul>
    <ul class="no-bullet">
        <li class="show-for-medium-only">
            <a href="https://twitter.com/henriquev" class="twitter-follow-button" data-show-count="false">Follow
                @henriquev</a>
        </li>
        <li class="hide-for-medium-only">
            <a href="https://twitter.com/henriquev" class="twitter-follow-button" data-size="large">Follow
                @henriquev</a>
        </li>
    </ul>
</div>
