<div itemscope itemtype="http://schema.org/Person">
    <div class="nav-card grid-x">
        <div class="cell small-2 medium-12 nav-card-photo-cell">
            <a href="/" itemprop="photo" class="nav-card-photo">
                <img src="/img/me_at_gullfoss_cropped.jpg" alt="me at Gullfoss" width="549" height="549" />
            </a>
        </div>
        <div class="cell card-section small-10 medium-12 medium-text-center">
            <h4 itemprop="name">Henrique Vicente</h4>
            <p>
                <span itemprop="title">Software Engineer</span>
            </p>
        </div>
    </div>
    <ul class="nav-about-me no-bullet">
        <li>
            <p>I'm a Software Engineer from Brazil. I live in the Netherlands, and I work for the fashion industry at <a href="https://hatchstudio.co/" itemprop="affiliation">HATCH</a>&nbsp;(a part of <a href="https://www.pvh.com/">PVH</a>),
                working on a Digital Showroom for wholesale fashion brands (such as <a href="https://www.tommy.com/">Tommy Hilfiger</a> and <a href="https://www.calvinklein.com/">Calvin Klein</a>).<br /><br />
                I mostly use the amazing Go programming language. I enjoy photography, drones, and traveling.</p>
        </li>
        <li>
            <a href="https://keybase.io/henvic" class="fingerprint" title="Keybase profile">D0F4<span
                    class="space"></span>DFBD<span class="space"></span>257C<span class="space"></span>1575</a>
        </li>
    </ul>
    <div class="menu-social">
        <a class="webicon github" href="https://github.com/henvic">
            GitHub
        </a>
        <a class="webicon twitter" href="https://twitter.com/henriquev">
            Twitter
        </a>
        <a class="webicon linkedin" href="https://www.linkedin.com/in/henvic">
            Linkedin
        </a>
        <a class="webicon instagram" href="https://www.instagram.com/henvic/">
            Instagram
        </a>
        <a class="webicon flickr" href="https://www.flickr.com/photos/henriquev/">
            Flickr
        </a>
        <a class="webicon mail" href="mailto:henriquevicente@gmail.com" itemprop="email">
            henriquevicente@gmail.com
        </a>
    </div>
</div>
