<div class="orbit" role="region" aria-label="Some of my photos" data-orbit
    data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
    <div class="orbit-wrapper">
        <div class="orbit-controls">
            <button class="orbit-previous"><span class="show-for-sr">Previous
                    Slide</span>&#9664;&#xFE0E;</button>
            <button class="orbit-next"><span class="show-for-sr">Next
                    Slide</span>&#9654;&#xFE0E;</button>
        </div>
        <ul class="orbit-container">
            <li class="orbit-slide">
                <figure class="is-active orbit-figure">
                    <img class="orbit-image" src="https://live.staticflickr.com/1457/25728791872_38d9cbfb60_h.jpg"
                        alt="Horseshoe Bend by Henrique Vicente, on Flickr">
                    <figcaption class="orbit-caption"><a
                            href="https://www.flickr.com/photos/henriquev/25728791872/">Horseshoe
                            Bend</a></figcaption>
                </figure>
            </li>
            <li class="orbit-slide">
                <figure class="orbit-figure">
                    <img class="orbit-image" src="https://live.staticflickr.com/5240/30053293005_75012dfc2b_h.jpg"
                        alt="Lower Antelope Canyon by Henrique Vicente, on Flickr">
                    <figcaption class="orbit-caption"><a
                            href="https://www.flickr.com/photos/henriquev/30053293005/">Lower
                            Antelope
                            Canyon</a></figcaption>
                </figure>
            </li>
            <li class="orbit-slide">
                <figure class="orbit-figure">
                    <img class="orbit-image" src="https://live.staticflickr.com/7038/14085712935_1a2b4b058d_h.jpg"
                        alt="Rocks &amp; waves @ Big Sur #2 by Henrique Vicente, on Flickr">
                    <figcaption class="orbit-caption"><a
                            href="https://www.flickr.com/photos/henriquev/14085712935/">Rocks
                            &amp;
                            waves @ Big Sur #2</a></figcaption>
                </figure>
            </li>
            <li class="orbit-slide">
                <figure class="orbit-figure">
                    <img class="orbit-image" src="https://live.staticflickr.com/3951/32730791413_cc93e676ec_h.jpg"
                        alt="Icelandic horse by Henrique Vicente, on Flickr">
                    <figcaption class="orbit-caption"><a
                            href="https://www.flickr.com/photos/henriquev/32730791413/">Icelandic
                            horse</a></figcaption>
                </figure>
            </li>
            <li class="orbit-slide">
                <figure class="orbit-figure">
                    <img class="orbit-image" src="https://live.staticflickr.com/5786/33387749592_9a3554121c_h.jpg"
                        alt="Skógafoss by Henrique Vicente, on Flickr">
                    <figcaption class="orbit-caption"><a
                            href="https://www.flickr.com/photos/henriquev/33387749592/">Skógafoss</a>
                    </figcaption>
                </figure>
            </li>
            <li class="orbit-slide">
                <figure class="orbit-figure">
                    <img class="orbit-image" src="https://live.staticflickr.com/8229/8544618839_a50ec4ae0a_h.jpg"
                        alt="Insects by Henrique Vicente, on Flickr">
                    <figcaption class="orbit-caption"><a
                            href="https://www.flickr.com/photos/henriquev/8544618839/">Insects</a>
                    </figcaption>
                </figure>
            </li>
            <li class="orbit-slide">
                <figure class="orbit-figure">
                    <img class="orbit-image" src="https://live.staticflickr.com/7349/8872926264_9701db0e07_h.jpg"
                        alt="Golden Gate Bridge after the sunset by Henrique Vicente, on Flickr">
                    <figcaption class="orbit-caption"><a
                            href="https://www.flickr.com/photos/henriquev/8872926264/">Golden
                            Gate Bridge after the sunset</a></figcaption>
                </figure>
            </li>
            <li class="orbit-slide">
                <figure class="orbit-figure">
                    <img class="orbit-image" src="https://live.staticflickr.com/2478/3610176047_a1eea6a70c_b.jpg"
                        alt="Manhattan Bridge and the Brooklyn Bridge by Henrique Vicente, on Flickr">
                    <figcaption class="orbit-caption"><a
                            href="https://www.flickr.com/photos/henriquev/3610176047/">Manhattan
                            Bridge and the Brooklyn Bridge</a></figcaption>
                </figure>
            </li>
            <li class="orbit-slide">
                <figure class="orbit-figure">
                    <img class="orbit-image" src="https://live.staticflickr.com/414/20367488966_1a0ce57b76_h.jpg"
                        alt="Yosemite Falls #1 by Henrique Vicente, on Flickr">
                    <figcaption class="orbit-caption"><a
                            href="https://www.flickr.com/photos/henriquev/20367488966/">Yosemite
                            Falls #1</a></figcaption>
                </figure>
            </li>
            <li class="orbit-slide">
                <figure class="orbit-figure">
                    <img class="orbit-image" src="https://live.staticflickr.com/593/20959043726_c49c47d04a_h.jpg"
                        alt="Night sky @ Joshua Tree by Henrique Vicente, on Flickr">
                    <figcaption class="orbit-caption"><a
                            href="https://www.flickr.com/photos/henriquev/20959043726/">Night
                            sky @ Joshua Tree</a></figcaption>
                </figure>
            </li>
            <li class="orbit-slide">
                <figure class="orbit-figure">
                    <img class="orbit-image" src="https://live.staticflickr.com/7296/26687178470_7eb95be9f9_h.jpg"
                        alt="Ladybug in Big Sur River by Henrique Vicente, on Flickr">
                    <figcaption class="orbit-caption"><a
                            href="https://www.flickr.com/photos/henriquev/26687178470/">Ladybug
                            in Big Sur River</a></figcaption>
                </figure>
            </li>
            <li class="orbit-slide">
                <figure class="orbit-figure">
                    <img class="orbit-image" src="https://live.staticflickr.com/3820/32400961843_44e9ae1355_h.jpg"
                        alt="Hraunfossar &amp; Barnafoss by Henrique Vicente, on Flickr">
                    <figcaption class="orbit-caption"><a
                            href="https://www.flickr.com/photos/henriquev/32400961843/">Hraunfossar
                            &amp; Barnafoss</a></figcaption>
                </figure>
            </li>
            <li class="orbit-slide">
                <figure class="orbit-figure">
                    <img class="orbit-image" src="https://live.staticflickr.com/276/32246444240_8f879f4629_h.jpg"
                        alt="Dana Point by Henrique Vicente, on Flickr">
                    <figcaption class="orbit-caption"><a
                            href="https://www.flickr.com/photos/henriquev/32246444240/">Dana
                            Point</a></figcaption>
                </figure>
            </li>
            <li class="orbit-slide">
                <figure class="orbit-figure">
                    <img class="orbit-image" src="https://live.staticflickr.com/702/32246442480_ac0f810a3b_h.jpg"
                        alt="Huntington Beach Pier by Henrique Vicente, on Flickr">
                    <figcaption class="orbit-caption"><a
                            href="https://www.flickr.com/photos/henriquev/32246442480/">Huntington
                            Beach Pier</a></figcaption>
                </figure>
            </li>
            <li class="orbit-slide">
                <figure class="orbit-figure">
                    <img class="orbit-image" src="https://live.staticflickr.com/264/32061584961_2193d44944_h.jpg"
                        alt="Silverado by Henrique Vicente, on Flickr">
                    <figcaption class="orbit-caption"><a
                            href="https://www.flickr.com/photos/henriquev/32061584961/">Silverado</a>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>
    <nav class="orbit-bullets hide-for-small-only">
        <button class="is-active" data-slide="0"><span class="show-for-sr">First slide
                details.</span><span class="show-for-sr">Current Slide</span></button>
        <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
        <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
        <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
        <button data-slide="4"><span class="show-for-sr">Fifth slide details.</span></button>
        <button data-slide="5"><span class="show-for-sr">Sixth slide details.</span></button>
        <button data-slide="6"><span class="show-for-sr">Seventh slide details.</span></button>
        <button data-slide="7"><span class="show-for-sr">Eighth slide details.</span></button>
        <button data-slide="8"><span class="show-for-sr">Nineth slide details.</span></button>
        <button data-slide="9"><span class="show-for-sr">Tenth slide details.</span></button>
        <button data-slide="10"><span class="show-for-sr">Eleventh slide details.</span></button>
        <button data-slide="11"><span class="show-for-sr">Twelfth slide details.</span></button>
        <button data-slide="12"><span class="show-for-sr">Thirteenth slide details.</span></button>
        <button data-slide="13"><span class="show-for-sr">Fourteenth slide details.</span></button>
        <button data-slide="14"><span class="show-for-sr">Fifteenth slide details.</span></button>
    </nav>
</div>
